# Framework principal
fastapi==0.115.0
uvicorn==0.30.1

# ORM y base de datos
SQLAlchemy==2.0.30
mysql-connector-python==9.0.0

# Configuración y entorno
python-dotenv==1.0.1
pydantic==2.8.2

# Servidor de producción
gunicorn==23.0.0
pyarrow==17.0.0
rpds-py==0.18.0
